﻿
@{
    Layout = "CodingFactory";
    string titre = (string)ViewData["Titre"];
    List<String> liste = (List<String>)ViewData["listeVilles"];
}

<h2 class="nimp">@titre</h2>

<ol>
    @foreach (string s in liste)
    {
        string v = s;
        @if (s == "London")
        {
            v = "LONDRES";
        }
        <li>@v</li>
        }
</ol>
<input type="text" id="txtVille"/>
<button id="btnAjouter" onclick="ajouterVille()">OK</button>

<script>
    function ajouterVille()
    {
        // je récupère la valeur de la textbox :
        var ville = txtVille.value;
        console.log(ville);
        // je fabrique l'url à appeler :
        var url = "/meteo/cities/ajouter/" + ville;
        // redirection vers l'url :
        location.href = url;
    }
</script>
